networks:
  dentaflow-network:
    driver: bridge

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: dentaflow-backend
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILE}

      SPRING_DATASOURCE_CORE_URL: jdbc:postgresql://db_core:5432/${CORE_DB_NAME}
      SPRING_DATASOURCE_CORE_USERNAME: ${CORE_DB_USER}
      SPRING_DATASOURCE_CORE_PASSWORD: ${CORE_DB_PASSWORD}

      SPRING_DATASOURCE_CUSTOMER_URL: jdbc:postgresql://db_customer:5432/${CUSTOMER_DB_NAME}
      SPRING_DATASOURCE_CUSTOMER_USERNAME: ${CUSTOMER_DB_USER}
      SPRING_DATASOURCE_CUSTOMER_PASSWORD: ${CUSTOMER_DB_PASSWORD}

      JWT_SECRET: ${JWT_SECRET}

    depends_on:
      - db_core
      - db_customer

    volumes:
      - dentaflow-files:/app/files

    networks:
      - dentaflow-network

  frontend:
    build: ./frontend
    container_name: dentaflow-frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - dentaflow-network

  db_core:
    image: postgres:15-alpine
    container_name: dentaflow-db-core
    environment:
      POSTGRES_DB: ${CORE_DB_NAME}
      POSTGRES_USER: ${CORE_DB_USER}
      POSTGRES_PASSWORD: ${CORE_DB_PASSWORD}
    volumes:
      - db_core_data:/var/lib/postgresql/data
    networks:
      - dentaflow-network

  db_customer:
    image: postgres:15-alpine
    container_name: dentaflow-db-customer
    environment:
      POSTGRES_DB: ${CUSTOMER_DB_NAME}
      POSTGRES_USER: ${CUSTOMER_DB_USER}
      POSTGRES_PASSWORD: ${CUSTOMER_DB_PASSWORD}
    volumes:
      - db_customer_data:/var/lib/postgresql/data
    networks:
      - dentaflow-network

  sonarqube:
    image: sonarqube:community
    container_name: dentaflow-sonarqube
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    networks:
      - dentaflow-network


volumes:
  db_core_data:
  db_customer_data:
  dentaflow-files:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
